/bitrix/
/upload/
/local/php_interface/dbconn.php
/local/php_interface/.settings.php
/local/php_interface/.settings_extra.php
/local/configs/
/.settings.php
/.settings_extra.php
/.top.menu_ext.php
/.left.menu_ext.php
/.access.php
/.htaccess
/.htpasswd
/backup/
/restore.php
/bitrix/backup/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/tmp/
/bitrix/modules/*/install/
/bitrix/modules/*/install.php
/bitrix/modules/*/install.db.php
/bitrix/modules/*/install/index.php
/bitrix/modules/*/install/version.php
/bitrix/modules/*/install/step*.php
/bitrix/modules/*/install/unstep*.php
/bitrix/modules/*/install/ver
/bitrix/modules/*/install/mysql/
*.log